.author-name {
	position: relative;
	font-style: italic;
	font-weight: bold;
	margin-left: -10px;
	z-index: 2;
}

.author-date {
	font-style: italic;
}

.anchor-bottom {
	position: fixed;
	bottom: 0;
}

.login-link-and-dropdown-list {
	margin-top: 12px;
	margin-left: 8px;
	text-decoration: none;

}

#login-dropdown-list {
	position: fixed;
	left: 20px;
	top: 20px;
}

#chat-jumbo {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 400px;
}

.chat-image {
	position: relative;
	height: 30px;
	width: 30px;
	border-radius: 100%;
	z-index: 2;
}

.chat-container {
	margin-top: 10px;
}

.chat-bubble-row {
	position: relative;
	margin-top: -5px;
	z-index: 1;
}

.chat-bubble {
	padding: 10px 15px;
 }

 .collated-chat {
 	margin: 0px 10px;
 }

.chat-animation-enter {
  opacity: 0.01;
}

.chat-animation-enter.chat-animation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.chat-animation-leave {
  opacity: 1;
}

.chat-animation-leave.chat-animation-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

.chat-animation-appear {
  opacity: 0.01;
}

.chat-animation-appear.chat-animation-appear-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.single-login-button {
	background-color: white;
}

p {
	word-break: break-all;
}