.author-name {
	font-style: italic;
	font-weight: bold;
	margin-left: -10px;
}

.author-date {
	font-style: italic;
}

.chat-bubble {
	background-color: lightblue;
	border-radius: 6px;
	padding: 3px 15px;
 }



